body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* 변수값 저장 */

:root{
    --black: #000;
    --white: #fff;
    --title: 2rem;
    --sub: 1.5rem;
    --submu: 1.2rem;
    --text: 1rem;
}


/* header 시작 */
#header{
    max-width: 100vw;
    max-height: 150px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#header > .head-container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    left: 200px;
    padding: 40px;
}


header h1 a{
    color: var(--black);
}

#header #menu{
    width: 1000px;
    margin-left: 30px;
}

#header #menu .main-nav{
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    padding: 0;
    margin: 0;
}

#header #menu .main-nav .main-list{
    width: calc(1000px / 4);
}

#header #menu .main-nav .main-list .main-list-title{
    font-weight: bold;
    font-size: var(--submu);
    width: 100px;
    margin-bottom: 10px;
}

#header #menu .main-nav .main-list .main-list-title:hover{
    color:  rgb(0, 72, 226);
    transition: .5s;
}

#header #menu .main-nav .main-list .main-list-title::after{
    content: '';
    width: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(0, 72, 226);
    transition: width .5s;
}

#header #menu .main-nav .main-list .main-list-title:hover::after{
    width: 100px;
}

#header #menu .main-nav .main-list .sub-list .sns-icon ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

#header #menu .main-nav .main-list .sub-list .sns-icon ul li{
    width: 50px;
    border: 2px solid green;
    margin: 0;
    padding: 0;
}


/* submenu */
#header #menu .main-nav li .sub-list li{
    font-size: var(--text);
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    margin-top: 10px;
}

#header #menu .sub-nav-wrap{
    position: absolute;
    top: 10px;
    right: 0;
}

#header #menu .sub-nav-wrap .sub-nav{
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    right: 0;
}

#header #menu .sub-nav-wrap .sub-nav li a{
    color: var(--black);
}

#header #menu .sub-nav-wrap .sub-nav li a:hover{
    color: rgb(0, 72, 226);
    transition: 0.3s;
}

#header #menu .sub-nav-wrap .linked-btn{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 260px;
    top: 30px;
    right: 0px;
    font-size: 0.8rem;
}

#header #menu .sub-nav-wrap .linked-btn li{
    padding-left: 5px;
}

#header #menu .sub-nav-wrap .linked-btn li button{
    background: none;
    border: 1px solid black;
    border-radius: 50px;
    padding: 0px 10px;
}

#header #menu .sub-nav-wrap .linked-btn li .loop-blk{
    background: var(--black);
    color: var(--white);
}