/* 공통영역 */
body{
    margin: 0;
    padding: 0;
    background: #f0ff48;
    box-sizing: border-box;
}

ul, li, h1{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}

/* header */

header{
    max-width: 100vw;
    max-height: 120px;
    height: 100vw;
    position: relative;
    background: #fff;
}

header #navigator{
    width: 1400px;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #navigator nav{
    width: calc(1400px - 300px);
}

header #navigator nav .mainNav{
    display: flex;
    justify-content: space-between;
}

header #navigator nav .mainNav li{
    width: calc(1050px / 4);
    font-size: 1.1rem;
    line-height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

header #navigator nav .mainNav li .subNav{
    display: none;
}

header #navigator nav .mainNav li .subNav li{
    font-size: 1rem;
    font-weight: normal;
}